@font-face {
  font-family: 'semongko';
  src: url('/css/font/aSemongko.ttf')  format('truetype')
}

@font-face {
  font-family: 'grandstander';
  src: url('/css/font/Grandstander-clean.ttf')  format('truetype')
}

.big {
    
}

.small {
    
}

.accent {
    
}