@import "reset";
/* $import (inline) "milligram"; */

/* #### Variable #### */

/* 
color based on
https://lospec.com/palette-list/rustic-gb
*/

$primary: #a96868;
$secondary: #edb4a1;
$accent: #764462;
$background: #ff0000;

body {
    background-color: $background;
}