@import "reset";

@import "fontawesome/fontawesome.scss";
@import "fontawesome/solid.scss";
/* $import (inline) "milligram"; */

/* #### Variable #### */

/* 
color based on
https://lospec.com/palette-list/rustic-gb
*/

$primary: #ee6a7c;
$secondary: darken($primary, 10);
$accent: #111;
$background: #f1f4f7;
$border: #5b4f51;

@import "background";
@import "font";

html {
    /* font-family: 'Grandstander'; */
}

body {
    background-color: $background;
    text-align: center;
    color: $primary;
}

p, span, a, a:visited, button {
    font-family: 'Grandstander';
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
}

a, a:visited {
    color: inherit;
    text-decoration: underline;
}

li {
    margin: 20px 0;
}

button {
    color: white;
    text-align: center;
    background-color: rgba(darken($primary, 10), 0.6);
    border-radius: 20px;
    box-shadow: 0 0 3px rgba($border, 0.3);
    border: none;
    padding: 15px;
    width: 50%;
}

@keyframes fall {
    0% { opacity: 0; }
    
    12.5% { transform: rotate(90deg); }
    25% { transform: rotate(180deg); }
    37.5% { transform: rotate(270deg); }
    50% { transform: rotate(360deg); }
    62.5% { transform: rotate(450deg); }
    75% { transform: rotate(540deg); }
    87.5% { transform: rotate(630deg); }
    
    100% {
        top: 100%;
        transform: rotate(720deg);
    }
}

header {

    img {
        width: 90%;
        height: auto;
    }

    text-align: center;
    padding-top: 30px;
}

footer {
    background-color: $primary;
    color: white;
    padding: 20px 0 10px;
    text-align: left;
    
    img {
        margin: 1px;
    }
    
    span {
        font-family: "Verdana";
        font-size: 12px;
        line-height: initial;
        letter-spacing: initial;
        opacity: 0.7;
        display: inline-block;
        padding: 0 5px;
    }
}

.logo {
    margin-top: 30px;
    
    img {
        width: 70%;
        max-width: 500px;
        border-radius: 100%;
        background-image: linear-gradient(rgba(white, 0), rgba(white, 0.6), rgba(white, 0.6), rgba(white, 0.6));
        box-shadow: 0 0 15px rgba($border, 0.3);
    }
}

.img-transparent {
    background-image: linear-gradient(rgba(white, 0), rgba(white, 0.6), rgba(white, 0.6), rgba(white, 0.6));
    box-shadow: 0 0 15px rgba($border, 0.3);
}

.wrap {
    max-width: 800px;
    min-height: 100vh;
    margin: 0 auto;
    border: red 1px solid;
}

.container {
    margin: 30px 16px 50px;
    padding: 20px;
}

.box {
    text-align: center;
    text-shadow: 0px 0px 3px white, 0px 0px 3px white, 0px 0px 3px white, 0px 0px 3px white;
    background-image: linear-gradient(rgba(white, 0.6), rgba(white, 0.6), rgba($primary, 0.2));
    border-radius: 20px;
    box-shadow: 0 0 5px rgba($border, 0.3);
}

.box2 {
    color: white;
    text-align: center;
    background-color: rgba(darken($primary, 30), 0.6);
    border-radius: 20px;
    box-shadow: 0 0 5px rgba($border, 0.3);
}

.box3 {
    color: white;
    text-align: center;
    background-color: rgba(#558B2F, 0.6);
    border-radius: 20px;
    box-shadow: 0 0 5px rgba($border, 0.3);
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
    
    .menu {
        width: 140px;
        margin: 0 5px;
        box-shadow: 0 0 5px rgba($border, 0.5);
        margin-bottom: 15px;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        
        img {
            width: 100%;
            height: 200px;
            display: block;
        }
        
        p {
            width: 100%;
            font-size: 16px;
            line-height: 20px;
            padding: 20px 0 10px;
            text-shadow: 0px 0px 3px white, 0px 0px 3px white, 0px 0px 3px white, 0px 0px 3px white;
            text-align: center;
            position: absolute;
            bottom: 0;
            background-image: linear-gradient(rgba(white, 0), rgba(white, 0.6), rgba(white, 0.6), rgba(white, 0.6));
        }
    }
}

.chatbox {
    .log {
        border: $primary 1px solid;
        border-radius: 20px;
        overflow: auto;
        height: 80vh;
        text-align: left;
        padding: 0 10px;
        
        li {
            img {
                width: 60px;
                height: 60px;
                float: left;
                display: block;
                border-radius: 30%;
            }
            
            .chat {
                background-color: rgba($primary, 0.2);
                /* border: $primary 1px solid; */
                border-radius: 20px;
                vertical-align: top;
                padding: 15px;
                margin: 0 5px 0 65px;
            }
            
            .meta {
                span {
                    font-size: 14px;
                    line-height: initial;
                }
                
                :nth-child(2) {
                    float: right;
                }
            }
            
            p {
                margin-top: 5px;
                font-size: 16px;
                line-height: initial;
                color: darken($primary, 10);
            }
        }
    }
    
    .input {
        margin-top: 20px;
        border-radius: 20px;
        text-align: left;

        i {
            padding: 0;
            margin: 0;
            display: block;
        }
        
        input[type=text] {
            display: inline-block;
            border: solid $primary 1px;
            border-radius: 10px;
            padding: 10px 0;
            font-family: 'grandstander';
            color: $primary;
            text-align: center;
            height: 28px;
        }
        
        input::placeholder {
            color: rgba(darken($primary, 30), 0.3);
        }
        
        :nth-child(1) {
            /*float: left;*/
            width: 30%;
        }
        
        :nth-child(2) {
            margin-left: 10px;
            width: 50%;
        }
        
        button {
            float: right;
            width: initial;
        }
    }
    
    .select-avatar {
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
        margin-top: 20px;
        
        img {
            width: 60px;
            height: 60px;
            margin: 5px;
            /* border: red solid 1px; */
            border-radius: 30%;
        }
        
        .selected {
            box-shadow: 0 0 3px 3px rgba($primary, 0.5);
        }
    }
}