<footer>
    <div style="text-align: center">
        {{ $files := readDir "/static/image/button" }}
        {{ range $files }}
            <img src="/image/button/{{ .Name }}" />
        {{ end }}
        
        <p class="small margin-top margin-bottom">&copy; {{ now.Year }} <a class="small" href="#">{{ .Site.Title }}</a>.</p>
    </div>
    
    <span>melody.my.id is not affiliated with Marvelous Inc.<br>
    Rune Factory, game content and materials are trademarks and copyrights of Marvelous Inc.</span>
</footer>