{{ define "main" }}

    <div class="container logo">
        {{ $image := resources.Get "image/melody.png" }}
        {{ $resized := $image.Resize "500x" }}
        <img src="{{ $resized.Permalink | relURL }}" />
    </div>
    
    <div class="container box2">
        <p>i just started my site, so there's not much here at the moment!</p>
    </div>

    <div class="container box">
        <p>Click those fancy buttons below to see my dumb thoughts, project im working on, and some other wierd stuff!</p>
    </div>

    <div class="container menu-container">
        
        
        <div class="menu">
            <img src="/image/placeholder.png" />
            <p>Visit the HotSprings</p>
        </div>
        
        <div class="menu">
            <img src="/image/placeholder.png" />
            <p>Art Gallery Museum</p>
        </div>
        
        <div class="menu">
            <img src="/image/placeholder.png" />
            <p>Rune Factory Walkthrought</p>
        </div>
        
        <div class="menu">
            <img src="/image/placeholder.png" />
            <p class="small">Project Changelogs</p>
        </div>
        
        <div class="menu">
            <img src="/image/placeholder.png" />
            <p class="small">Boring Things</p>
        </div>
    </div>
    
    <p class="semongko large shadow">Latest Update</p>
    
    <div class="container box" style="margin-bottom: 5vw">
        <ul class="margin-bottom">
            <li>
                <a>Appropriate Olive Lantern</a>
                <br><span class="small shadow">2 days ago</span>
            </li>
            
            <li>
                <a>Sledgehammer Mysterious</a>
                <br><span class="small shadow">2 days ago</span>
            </li>
            
            <li>
                <a>Moving Summer</a>
                <br><span class="small shadow">2 days ago</span>
            </li>
        </ul>
    </div>
    
    <button class="margin-bottom">View More</button>
    
    
    
	<!-- <main>
	    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
	    {{ range $paginator.Pages }}
	        {{ .Render "summary" }}
	    {{ end }}
	    {{ partial "pagination.html" . }}
	</main> -->
{{ end }}
