{{ define "main" }}

    <div class="container logo">
        {{ $image := resources.Get "image/melody.png" }}
        {{ $resized := $image.Resize "500x" }}
        <img src="{{ $resized.Permalink | relURL }}" />
    </div>
    
    <div class="container box2">
        <p>i just started my site, so there's not much here at the moment!</p>
    </div>
    
    <div class="container box3">
        <p>Are you lost? looking for my portofolio? <a href="#">Click here</a></p>
    </div>
    
    <div class="container box">
        <p>Click those fancy buttons below to see my dumb thoughts, project im working on, and some other wierd stuff!</p>
    </div>

    <div class="menu-container">
        
        
        <div class="menu">
            <img src="/image/placeholder.png" />
            <p>Visit the HotSprings</p>
        </div>
        
        <div class="menu">
            <img src="/image/placeholder.png" />
            <p>Art Gallery Museum</p>
        </div>
        
        <div class="menu">
            <img src="/image/placeholder.png" />
            <p>Rune Factory Walkthrought</p>
        </div>
        
        <div class="menu">
            <img src="/image/placeholder.png" />
            <p class="small">Project Changelogs</p>
        </div>
        
        <div class="menu">
            <img src="/image/placeholder.png" />
            <p class="small">Boring Things</p>
        </div>
    </div>
    
    <p class="semongko large shadow">Latest Update</p>
    
    <div class="container box" style="margin-bottom: 5vw">
        <ul class="margin-bottom">
            <li>
                <a>Appropriate Olive Lantern</a>
                <br><span class="small shadow">2 days ago</span>
            </li>
            
            <li>
                <a>Sledgehammer Mysterious</a>
                <br><span class="small shadow">2 days ago</span>
            </li>
            
            <li>
                <a>Moving Summer</a>
                <br><span class="small shadow">2 days ago</span>
            </li>
        </ul>
    </div>
    
    <button class="margin-bottom">View More</button>
    
    <div class="container box">
        <p>While you're here why not sign my guestbook</p>
        <img class="margin-top" style="height:20vw; width: 40vw" src="/image/placeholder.png" />
    </div>
    
    <p class="semongko large shadow">ChatBox</p>
    
    <div class="container box">
        <div class="chatbox">
            <div class="log">
                <ul>
                    <li>
                        <img src="/image/placeholder.png" />
                        <div class="chat">
                            <div class="meta">
                                <span>Ferdian</span>
                                <span>15 min ago</span>
                            </div>
                            <p>Hello There what a lovely day isnt itHello There what a lovely day isnt itHello There what a lovely day isnt itHello There what a lovely day isnt itHe</p>
                        </div>
                    </li>
                    
                    <li>
                        <img src="/image/placeholder.png" />
                        <div class="chat">
                            <div class="meta">
                                <span>Ferdian</span>
                                <span>15 min ago</span>
                            </div>
                            <p>Hello There what a lovely day isnt itHello There what a lovely day isnt itHello There what a lovely day isnt itHello There what a lovely day isnt itHe</p>
                        </div>
                    </li>
                    
                    <li>
                        <img src="/image/placeholder.png" />
                        <div class="chat">
                            <div class="meta">
                                <span>Ferdian</span>
                                <span>15 min ago</span>
                            </div>
                            <p>Hello There what a lovely day isnt itHello There what a lovely day isnt itHello There what a lovely day isnt itHello There what a lovely day isnt itHe</p>
                        </div>
                    </li>
                </ul>
            </div>
            
            <div class="input">
                <input type="text" placeholder="Name">
                <input type="text" placeholder="Message">
                <button><i class="fas fa-paper-plane"></i></button>
                
                <a style="font-size: 3vw; margin-top: 4vw; display: inline-block;">Select Avatar</a> <i class="fas fa-sort-down"></i>
            </div>
            
            <div class="select-avatar">
                <a href="#"><img src="/image/placeholder.png" /></a>
                <a href="#"><img src="/image/placeholder.png" /></a>
                <a href="#"><img class="selected" src="/image/placeholder.png" /></a>
                <a href="#"><img src="/image/placeholder.png" /></a>
                <a href="#"><img src="/image/placeholder.png" /></a>
                <a href="#"><img src="/image/placeholder.png" /></a>
            </div>
        </div>
    </div>
    
	<!-- <main>
	    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
	    {{ range $paginator.Pages }}
	        {{ .Render "summary" }}
	    {{ end }}
	    {{ partial "pagination.html" . }}
	</main> -->
{{ end }}
